<html>
	<head>
		<link rel = "stylesheet" type ="text/css" href = "/stylesheets/style.css">
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type="text/javascript" src="/javascripts/login.js"></script>
	</head>

	<body>
		<h1>{{pageTitle}}</h1>
		<p>{{copyright}}</p>
		<div class = "outer-div">
		<div class = "logindiv">
			<h1>Sign In</h1>
			<h3>Registered Email:</h3><input type="email" id="regemail" required>
			<h3>Password:</h3><input type="password" id="password" required>
			<br>
			<button type="submit" class="logbutton" onclick="loginAdmin()">Login</button>
		</div>
		<div class = "signupdiv">
			<h1>Sign Up</h1>
			<h3>Email:</h3><input type="email" id="suemail" required>
			<h3>Password:</h3><input type="password" id="supassword" required>
			<br>
			<button type="submit" class="logbutton" onclick="userSignUp()">Sign Up</button>
		</div>
		</div>
	</body>
</html>

<!-- Button tag does not work in the Form element. Working option is to use a button outside form and call required
JS function onclick. We can't use input field with type submit instead of a submit button as this was leading 
to refreshing the homepage after API's were executed. This was clearing the data displayed -->