<html>
	<head>
		<link rel = "stylesheet" type ="text/css" href = "/stylesheets/style.css">
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type = "text/javascript" src = "/javascripts/frontend.js"></script>
	</head>

	<body>
		<h1>{{pageTitle}}</h1>
		<p>{{copyright}}</p>
		<form>
			<h3>Name:</h3><input type="text" id="name" required>
			<h3>Email:</h3><input type="email" id="email" required>
			<h3>Phone:</h3><input type="number" id="phone" required><br>
		</form>
		<button type="submit" class="subutton" onsubmit="submitData()">Submit</button>
		<table id = "tabledata">
			<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Phone</th>
					</tr>
			</thead>
			<tbody id="fetchdata">
			</tbody>
		</table>
	</body>
</html>

<!-- Button tag does not work in the Form element. One option is to use a button outside form and call required
JS function onclick. But this will bypass the required and type attribute of input tags that we have applied to
various fields. Hence inside form we can use input field with type submit instead of a submit button. And 
call the JS function onformsubmit using onsubmit attribute. This will submit the form when submit button is 
clicked and before that all field will be verified for type and required fields also.-->