body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input{
  padding: 5px;
}

.subutton{
  margin-top: 20px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid gray;
}

table{
	margin-top: 60px;
	border: 2px solid black;
}

th, tr, td{
	padding-left: 100px;
	padding-right: 100px;
	border: 2px solid black;
}
