body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input, button{
  padding: 5px;
}

.logindiv{
	margin-top: 25px;
	border: 2px solid black;
	display: inline-block;
	padding: 50px;
}

.logbutton{
	margin-top: 20px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid gray;
}

.subutton{
  margin-top: 20px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid gray;
}

table{
	margin-top: 60px;
	border: 2px solid black;
}

th, tr, td{
	padding-left: 60px;
	padding-right: 60px;
	border: 2px solid black;
}
