body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

h1,p{
	text-align: center !important;
}

input{
  padding: 5px;
}

.outer-div{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}

.logindiv, .signupdiv{
	margin-top: 25px;
	border: 2px solid black;
	display: inline-block;
	padding: 50px;
}

.logbutton, .subutton{
	margin-top: 20px;
  	padding: 5px;
  	font-size: 16px;
  	border: 2px solid gray;
}

table{
	margin-top: 60px;
	border: 2px solid black;
}

th, tr, td{
	padding-left: 45px;
	padding-right: 45px;
	border: 2px solid black;
}
